/* CSS for Word Guess Game*/

 body {
        background-image: url("../images/oscars.jpg");
        background-repeat: repeat;
        background-blend-mode: luminosity;
 }

.white {
    color: white;
}

#title {
    font-family: 'Trade Winds', cursive;
    font-size: 72px;
    color: white;
    font: outline;
    text-align: center;
    margin: 45px;
    float: center;
    padding: 20px;
    background: #c32a2a;
      
}

#clearGame {
    text-align: center;
    padding: 10px;
    width: 100px; 
    margin-left: 250px;
}

#game-head {
    margin-top: 15px;0
}

.container1 {
    background: whitesmoke;
    margin: 20px auto;
    width: 960px;
    padding: 0 20px 20px 30px;
    color: #777777;
    border: 1px solid #d4d4d4;
    overflow: auto;
    }

#gameBoard {
    font-family: 'Courier New', Courier, monospace;
    letter-spacing: 10px;
    margin-left: 20px;
    font-size: 14px;

}

#oscar-pic {
    float: left;
    width: 200px;
    padding-right: 20px;
}

#gameBoard {
    text-align: center;
    font-size: 48px;
}

#buttons {
    margin-top: 250px;
    padding-left: 300px;
    float: center;
}

#bad-letters {
    font-size: 48px;
    font-family: 'Courier New', Courier, monospace;
}

#new-game-btn {
    outline: none;
    border: none;
    cursor: pointer;
    display: block;
    background-color: c32a2a;
    font-size: 18px;
    font-weight: bold;
    color: #c32a2a;
    text-transform: uppercase;
    letter-spacing: 2px;
    padding: 15px;
    border-radius: 20px;
    box-shadow: 0 6px #5f5f5e;
}

#new-game-btn:hover {
    box-shadow: 0 4px #5f5f5e;
    top: 2 px;
}

#new-game-btn:active {
    box-shadow: 0 0 0 0 #5f5f5e;
    top: 6px;
}

/* Google Fonts
font-family: 'Diplomata', cursive;
font-family: 'Trade Winds', cursive; */
